

body{
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 20px;
  background-color: white; 
  padding-bottom: 32px;
  word-wrap: break-word;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
  transition: top 0.3s ease-in-out;
}
body, html {
  height: 100%;
  width: 100%;
}
h1
{
  font-family: "Homemade Apple", cursive;
  font-size: 30px;
}
h2
{
  font-family: "Cormorant Garamond", cursive;
  font-weight: bold;
  font-size: 22px;
}
p.name
{
  font-family: "Homemade Apple", cursive;
  font-size: 36px;
}
p.left-aligned
{
  text-align: left;
}
.nav-bar-link { 
  font-family: "Cormorant Garamond";
  font-size: 20px;
}
p {
  line-height: 2
}

img#banner {  
  margin-left: auto;
  margin-right: auto;
  min-width: 2000px;
  height: 200px;
}

section {
  width: 100%;
  min-height: 100%;
  padding-top: 295px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}
ul
{
  text-align: left;
}
img.camping-yurt-images{
  float:right;
  width: 300px;
  margin: 10px;
  clear: right;
}
.engagement_photos {
  margin:10px;
}
@media screen and (max-width: 700px) {
  body{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 16px;
    background-color: white; 
    padding-bottom: 32px;
    word-wrap: break-word;
  }
 h1
{
  font-family: "Homemade Apple", cursive;
  font-size: 24px;
}
h2
{
  font-family: "Cormorant Garamond", cursive;
  font-weight: bold;
  font-size: 18px;
}
p.name
{
  font-family: "Homemade Apple", cursive;
  font-size: 28px;
}
.nav-bar-link { 
  font-family: "Cormorant Garamond";
  font-size: 16px;
}
#camping-yurts{
  clear:right;
}
img.camping-yurt-images{
  float:none;
  width: 300px;
  margin: 10px;
}
div.engagement_photos>a>img {
  width: 300px;
  margin: 10px;
}
}