body{
  font-family: "Raleway", sans-serif;
  background-color: white; 
  padding-bottom: 32px;
  word-wrap: break-word;
}
body, html {
  height: 100%;
  width: 100%;
}
.section_header
{
  font-family: "Homemade Apple", cursive;
  font-size: 28px;
}
.nav-bar-link { 
  font-family: "Cormorant Garamond";
  font-size: 20px;
}
p {
  line-height: 2
}

img {  
  margin-left: auto;
  margin-right: auto;
  min-width: 2000px;
  height: 200px;
}

section {
  width: 100%;
  min-height: 100%;
  padding-top: 295px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

