body{
  font-family: "Raleway", sans-serif;
  background-color: #649AA2; 
  padding-top: 65px;
  padding-bottom: 65px;
}
body, html {
  height: 100%;
}
p {
  line-height: 2
}

img {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.banner {
   background-image: url("./assets/banner_moon-wind-leaves.jpg");
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: center;
   height: 400px;

}
section {
  width: 100%;
  padding: 32px;
}
#section_how-we-met{
  background-color: rgb(146, 158, 170);
}
#section_accomodations{
  background-color: rgb(16, 51, 51);
}
#section_venue{
  background-color: rgb(215, 208, 215);
}
#section_music{
  background-color: rgb(246, 221, 165);
}
#section_photos{
  background-color: rgb(226, 221, 216);
}
#section_makers{
  background-color: rgb(223, 158, 132);
}
.nav-bar-link { white-space: nowrap;}